.full-height{
  height: 95%;
}

.notes-folder {
  background: lightblue;
  /*height: 100%;*/
}

.notes-list {
  background: lightgreen;
  /*height: 100%;*/
}

.notes-editor {
  background: lightpink;
  /*height: 100%;*/
}

.custpt{
  padding: 7px !important;
}

.custpb{
  padding-bottom: 1px !important;
}
