.full-height {
  height: 95%;
}

.notes-folder {
  background: #e2e2e2;
  border-right: 2px solid #dee2e6 !important;
    /*height: 100%;*/
}

.notes-list {
  background: #d4d4d4;;
  border-right: 2px solid #dee2e6 !important;
  /*height: 100%;*/
}

.notes-editor {
  background: #e2e2e2;;
  /*height: 100%;*/
}

.custpt {
  padding: 7px !important;
}

.custpb {
  padding-bottom: 1px !important;
}
