.full-height {
  height: 95%;
}

.notes-folder {
  background: #2c2c2c;
  border-right: none !important;
}

.notes-list {
  background: #222222;
  border-right: none !important;
}

.notes-editor {
  background: #282828;;
  border-right: none !important;
}

.custpt {
  padding: 7px !important;
}

.custpb {
  padding-bottom: 1px !important;
}
