<div class="container-fluid full-height my-notes-body">
<!--  <ul class="row nav grey lighten-4 p1-2 mb-0 top-bar">-->
<!--    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-xs-12 p-1 notes-folder-top-bar">-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="/"><b>My Notes</b></a>-->
<!--      </li>-->
<!--    </div>-->
<!--    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-xs-12 p-1 notes-list-top-bar">-->
<!--    </div>-->
<!--    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 p-1 notes-editor-top-bar">-->
<!--    </div>-->
<!--  </ul>-->
  <div class="row full-height mb-0">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-xs-12 p-0 border-right border-secondary notes-folder">
      <app-notes-folders [folderLists]="folderLists"></app-notes-folders>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-xs-12 p-0 border-right border-secondary notes-list">
      <app-notes-lists></app-notes-lists>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 p-0 notes-editor">
      <app-notes-editor></app-notes-editor>
    </div>
  </div>
  <footer class="row page-footer font-small special-color-dark custpt">
    <div class="p-1">Shanjock46</div>
  </footer>
</div>

