<div class="container-fluid full-height">
  <ul class="row nav grey lighten-4 py-2 mb-1">
    <li class="nav-item">
      <a class="nav-link" href="/">My notes App</a>
    </li>
  </ul>
  <div class="row full-height">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-xs-12 p-1 border-right border-secondary notes-folder"><app-notes-folders></app-notes-folders></div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-xs-12 p-1 border-right border-secondary notes-list"><app-notes-lists></app-notes-lists></div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 p-1 notes-editor"><app-notes-editor></app-notes-editor></div>
  </div>
</div>

