<div class="notes-editor-container h-100">
  <div class="row mb-0 top-bar pt-1">
    <span class="col-md-112 float-right note-tools">

    </span>
  </div>
<!--  <span style="color: aliceblue">{{editNote | json}}</span>-->
  <div *ngIf="editNote !== undefined" class="text-center mt-1 note-updated-time">{{editNote.updated | date:'medium'}}</div>
  <textarea *ngIf="editNote !== undefined" #notesTextArea="ngModel" (ngModelChange)="updateNote()" [(ngModel)]="editNote.content"
            [attr.data-folderId]="folderId" [attr.data-noteId]="editNote.id" class="form-control rounded-0 h-100"
            id="noteEditor">
  </textarea>
<!--  <textarea *ngIf="editNote === {}" class="form-control rounded-0 h-100" id="dummyNoteEditor">-->
<!--  </textarea>-->
</div>
