.notes-folders-container {
  overflow: scroll;
  height: calc(100% - 70px);
}

.addNewFolderBtn {
  font-size: 15px;
}

.list-group-item.active {
  background-color: #ff7f12;
  border-color: #ff7f12;
}

.list-group-item {
  background-color: #e2e2e2;
}

.rmplr {
  padding-right: 0px;
  padding-left: 0px;
}

.addNewFolderBtn:hover {
  color: #007bff;
}

.makeCursor {
  cursor: pointer;
}

.disabledEvents {
  pointer-events: none;
}

.custFont {
  font-size: 12px;
}

.sorting {
  font-size: 20px;
}

.sorting .btn {
  font-size: 14px;
  padding: 5px 10px 5px 10px;
}
