.top-bar {
  background-color: #404040 !important;
}

a.nav-link {
  color: #ffffff;
}

.notes-folders-container {
  overflow: scroll;
  height: calc(100% - 70px);
}

.addNewFolderBtn {
  font-size: 15px;
}

.notes-folders-container ul {
  background-color: #2c2c2c;
  -webkit-tap-highlight-color: #2c2c2c;
}

.folders-list{
  border-right: 2px solid #000000 !important;
}

.notes-folders-container li {
  border: none;
  color: #ffffff;
}

li.active.right-aside.notes-count {
  color: #ffffff;
}

.notes-count {
  font-size: 12px;
  color: #9a9a9a;
}

.add-new-folder{
  color: #acacab;
}

.list-group-item.active {
  background-color: #545454;
  /*border-color: #545454;*/
}

.list-group-item {
  background-color: #2c2c2c;
}

.rmplr {
  padding-right: 0px;
  padding-left: 0px;
}

.addNewFolderBtn:hover {
  color: #007bff;
}

.makeCursor {
  cursor: pointer;
}

.disabledEvents {
  pointer-events: none;
}

.custFont {
  font-size: 12px;
}

.sorting {
  font-size: 20px;
}

.sorting .btn {
  font-size: 13px;
  padding: 4px 7px;
  color: #ffffff;
  background-color: #6c6c6c;
  border: none;
}

.form-control {
  color: #ffffff;
  background-color: #545454;
}

.form-control:focus {
  border-color: #545454;
  box-shadow: 0 0 0 0.2rem #545454;
}
