.notes-folders-container {
  overflow: scroll;
  height: calc(100% - 70px);
}

.addNewFolderBtn {
  font-size: 15px;
}

.addNewFolderBtn:hover {
  color: #007bff;
}

.makeCursor {
  cursor: pointer;
}

.disabledEvents {
  pointer-events: none;
}

.custFont {
  font-size: 12px;
}
