<div class="notes-folders-container">
  <ul #folderList class="container-fluid list-group rmplr">
    <ng-container *ngFor="let list of folderLists">
      <li [attr.data-folderId]="list.id"
          [ngClass]="{'active' : list.selected === true}" class="row list-group-item d-flex justify-content-between align-items-center">
        <span class="col-md-7">
          <span (click)="selectFolder($event, list.id, folderList)"
                [ngClass]="{'disabledEvents' : list.selected === true, 'makeCursor': list.selected === false}"
                class="text-break custFont"> {{list.name}} </span>
          <input #updateNewFolderField (keydown)="keydown($event,list.id)" (mouseleave)="keydown($event, list.id)"
                 [value]="list.name" class="form-control custFont EditNewFolder d-none" mdbInput
                 placeholder="New Folder" type="text">
        </span>
        <span class="col-md-5 float-right">
          <span [ngClass]="{'d-none' : list.id === '1'}">
            <span class="makeCursor">
              <i (click)="editFolder($event, list.id, updateNewFolderField)" class="far fa-edit mr-2"></i>
            </span>
            <span class="makeCursor">
              <i (click)="deleteFolder($event, list.id, folderList)" class="far fa-trash-alt mr-2"></i>
            </span>
          </span>
          <mdb-badge [ngClass]="{'float-right' : list.id === '1'}" pill="true"
                     primary="true">{{list.notes.length}}</mdb-badge>
        </span>
      </li>
    </ng-container>
    <li class="row list-group-item d-flex justify-content-between align-items-center p-0">
      <input #addNewFolderField (keydown)="keydown($event)" (mouseleave)="keydown($event)" [value]="newFolderName"
             class="form-control createNewFolder m-3 d-none" mdbInput placeholder="New Folder" type="text">
    </li>
  </ul>
  <div class="position-absolute fixed-bottom float-right mr-2 mb-2">
    <button (click)="addNewFolder()" class="btn btn-primary float-right">
      <mdb-icon fas icon="folder-plus"></mdb-icon>
      New Folder
    </button>
  </div>
</div>
