.notes-lists-container {
  overflow: scroll;
  height: calc(100% - 83px);
}

.custmr {
  margin-right: -15px;
}

.list-group-item.active {
  background-color: #ff7f12;
  border-color: #ff7f12;
}

.list-group-item {
  background-color: #d4d4d4;
}

.rmplr {
  padding-right: 0px;
  padding-left: 0px;
}

.makeCursor {
  cursor: pointer;
}

.disabledEvents {
  pointer-events: none;
}

.custFont {
  font-size: 12px;
}
