.notes-lists-container {
  overflow: scroll;
  height: calc(100% - 83px);
}

.top-bar {
  background-color: #404040 !important;
}

.custmr {
  margin-right: -15px;
}

.notes-list{
  border-right: 2px solid #dee2e6 !important;
}

.notes-folders-container ul {
  background-color: #222222;
  -webkit-tap-highlight-color: #222222;
}

.notes-lists-container li {
  border: none;
}

.list-group-item.active {
  background-color: #e27920;
  border-color: #e27920;
}

.list-group-item {
  background-color: #222222;
  color: #ffffff;
}

.rmplr {
  padding-right: 0px;
  padding-left: 0px;
}

.makeCursor {
  cursor: pointer;
}

.disabledEvents {
  pointer-events: none;
}

.custFont {
  font-size: 12px;
}

.notes-list-tools .btn {
  font-size: 13px;
  padding: 4px 7px;
  color: #ffffff;
  background-color: #6c6c6c;
  border: none;
}

.content-summary{
  font-size: 10px;
}
